{% extends 'main.html' %}
{% load static %}
{% block head %}
    <title>PFAM | About Us</title>
{% endblock head %}
{% block content %}
    <!-- heading start  -->
    <div class="rela-block portfolio-top grad-back" id="topSection">
        <h1 class="half-big-text has-border">About Us</h1>
    </div>
    <!-- heading end  -->

    <!-- block start  -->
    <div class="rela-block about-us-section" id="aboutSection">
        <p>We are a team who came up with an idea to automate an existing product and provide the user with additional features, which can make life easy for pound or pet shop owners by helping them cut cost of labor by investing one time int our product with low maintenance cost.</p>
        <div class="orbitron black-orb">\\\///</div>
        <div class="rela-block about-us-quad-container">
            <div class="rela-block quad-row">
                <div class="quad-half floated left">
                    <h2 class="small-header">Divya Khedkar</h2>
                    <p>Hello1 I am responsible for the product design along with the hardware working.</p>
                </div>
                <div class="quad-half floated left">
                    <h2 class="small-header">Shashwati Salunke</h2>
                    <p>I look for all the machine learning aspects and insight generation.</p>
                </div>
            </div>
            <div class="rela-block quad-row">
                <div class="quad-half floated left">
                    <h2 class="small-header">Akanksha Deshpande</h2>
                    <p>Curation and website design is looked by me</p>
                </div>
            </div>
        </div>
        <div class="orbitron black-orb">\\\///</div>
        <div class="rela-block about-us-bottom-container">
            <div class="floated left bottom-left-side">
                <h2 class="small-header">Quality assessment</h2>
                <div class="lines-thing black"></div>
                <p>We appreciate your concerns and look into all of them with utmost priority, hence we have provided you with a product whcih satisfies almost all the customer needs</p>
            </div>
            <div class="floated left bottom-right-side">
                <p>Time saving</p>
                <div class="rela-block progress-bar one"></div>
                <p>Precision and accuracy</p>
                <div class="rela-block progress-bar two"></div>
                <p>Budget-friendly</p>
                <div class="rela-block progress-bar three"></div>
                <p>Product Design</p>
                <div class="rela-block progress-bar"></div>
            </div>
        </div>   
    </div>
    <!-- block end  -->

    <!-- testimonials start  -->
    <div class="rela-block testimonials-section">
        <div class="floated left test-left">
            <div class="abs-cent-text">
                <h2 class="half-big-text has-border">Testimonials</h2>
            </div>
        </div>
        <div class="floated left test-right">
            <div class="abs-cent-text">
                <p class="space">"Meggings cold-pressed bitters authentic, locavore butcher etsy gastropub semiotics. Banjo mixtape farm-to-table, whatever poutine master cleanse blog godard raw denim williamsburg vice pinterest forage fap. Master cleanse single-origin coffee
                    farm-to-table, flannel VHS viral XOXO bespoke banh mi tumblr umami. Banh mi brunch DIY, umami wayfarers waistcoat chia small batch brooklyn meggings food truck iPhone next level photo booth before they sold out."</p>
                <h2 class="small-header">Benedict Cumberbatch</h2>
                <p><em>Occupation stuff here</em></p>
            </div>
        </div>
    </div>
    <!-- testimonials end  -->

    {% include 'base/footer.html' %}
{% endblock content %}
