{% extends 'main.html' %}
{% load static %}

{% block head %}
  <title>PFAM | Reset Password</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block content %}

    <!-- heading start -->
    <div class="rela-block portfolio-top grad-back">
        <h1 class="half-big-text has-border">Reset Password</h1>
    </div>
    <!-- heading end  -->

    <br>
    {% for msg in messages %}
        <h2 class="message">{{msg}}</h2>
        <style>
            .message{
            color: red;
            text-align: center;
            font-weight: bolder;
            }
        </style>
    {% endfor %}
    <br>

    <div class="cont">
        <div class="form">
            <br><br>
            <h2>Reset Password,</h2>
            <br><br>
            <form action="" method="post">
                {% csrf_token %}
                <label><span>Email</span></label>
                <input type="email" name="email" id="email" required />
                <label><span>New Password</span></label>
                <input type="password" name="password1" id="password1" required />
                <label><span>Confirm Password</span></label>
                <input type="password" name="password2" id="password2" required />
                <button type="submit" name="reset" value="reset" class="submit">Reset</button>
            </form> 
        </div>

        <div class="sub-cont"><div class="img"></div></div>
    </div>
{% endblock content %}